/***

This stylesheet written for bulk upload
Author:Shenll software solutions
Created date: 04/Feb/2016
Modified date:
***/

.left-right-padding .info-caption, .bulkplayerparent{
    border: 1px solid #ccc;
    border-radius: 5px !important;
}
.multipleplayerformgrp .form-control{
    border: 1px solid #c2cad8;
    border-radius: 4px !important;
}
.page-content .portlet>.portlet-title{
	border-bottom: 0;
	margin-bottom: 0;
}
.bkentryplayercont .cs_mandatory{
	color:red;
}

.bkentryplayercont #playernotes{
	    height: 53px;
    width: 300px;
}

.bkentryplayercont .singleentrycont{
	padding: 0px;
    margin-top: 10px;
    overflow-x: scroll;
}

.bkentryplayercont{
	border: 2px solid #CCC;
	border-radius: 6px;
	margin-bottom: 20px;
	overflow-x: scroll;
}

#addmoreplayercont,.uploadsucsmsg,.uploadfailuresmsg{
	display:none;
}
#bultplayentrycont{
    overflow-x: scroll;
    margin-bottom: 20px;
    margin-top: 5px;
}

.addmoreplayerbtn{
	padding: 12px 35px;
    font-size: 17px;
}

.deleteplayerbtn{
	padding: 12px 35px;
    font-size: 17px;
}
 
.submitallplayerbtn{
	padding: 12px 35px;
    font-size: 17px;
}

.multipleplayerformgrp{
	width: 1900px;
	padding-left: 5px;
	margin-bottom: 1px;
    margin-top: 1px;
}

.multipleplayerformgrp{
	border-radius:4px;
}
.multipleplayerformgrp select.form-control {
    padding: 3px 8px !important;
}

#bultplayentrycont .multipleplayerformgrp label {
	display:none;
}

.multipleplayerformgrp #playernotes{
	height: 32px;
}

.uploadstatusimg,.loadingimgcont{
	display:none;
}

.multipleplayerformgrp .ampl_width100{
	width:100px;
}

.multipleplayerformgrp .ampl_width95{
	width:95px;
}


.multipleplayerformgrp .ampl_width90{
	width:90px;
}

.multipleplayerformgrp .ampl_width80{
	width:80px;
}

.multipleplayerformgrp .ampl_width70{
	width:70px;
}

.multipleplayerformgrp .ampl_width60{
	width:60px;
}

.multipleplayerformgrp .ampl_width50{
	width:50px;
}

.multipleplayerformgrp .ampl_width40{
	width:40px;
}


.multipleplayerformgrp .form-control,.multipleplayerformgrp .form-control {
    height: 27px;
}

.bulkplayerupload form> .portlet.light {
	padding: 0;
	margin-bottom: 0;
}
.bulkplayerupload{
	padding-left: 0;
	padding-right: 0;

}
.bulkplayerupload form{
	padding-left: 0;
}
.bulkplayerupload .bulkplayerformbody{
	padding: 0px;
}
.left-right-padding{
	padding-right: 0;
	padding-left: 0;
}
.left-right-padding .info-caption{
	margin-bottom: 10px;
	padding-bottom: 2px;
}
.bulkplayerparent{
	background-color: #FFFFFF;
	padding-bottom: 10px;
}
.customredbtn{
	background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    background-image: -moz-linear-gradient(top, #E95D5D, #E40304);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: 15px;
    background-color: #e12330;
    font-size: 14px;
    border-color: #ea5460;
}
.customgreenbtn{
	color: #ffffff;
    background-color: #549E39;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
     background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    font-size: 14px;
    border-color: #619126;
}

.btn-success:hover {
    color: #ffffff;
    font-size: 14px;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
    background-color: #70A62F !Important;
    font-size: 14px;
    border-color: #619126 !Important;
}
.btn-success {
    font-size: 14px;
   
    padding: 5px 20px;
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    border-radius: 5px !important;
}

.btn-success {
    font-size: 14px;
    background-repeat: repeat-x;
   
}

.btn.btn_purple:not(.btn-outline).active, .btn.btn_purple:not(.btn-outline):active, .btn.btn_purple:not(.btn-outline):hover, .open>.btn.btn_purple:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #703688;
    border-color: #6a3381;
    font-size: 13px;
}
.btn_purple {
    background-image: -webkit-linear-gradient(top, #d59dec, #8E44AD);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px !important;
    color: #fff;
    padding: 5px 20px;
    font-size: 13px;
}
.multipleplayerformgrp .form-group input, .multipleplayerformgrp .form-group select, .multipleplayerformgrp .form-group textarea{
    font-size: 13px ;
}



