.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.page-content-wrapper .page-content .alert.alert-danger {
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.left-right-padding .game-info-caption, #gameform .left-padding .portlet.light , #gameform .right-padding .portlet.light{
    border: 1px solid #ccc;
    border-radius: 5px !important;
}
#gameform .form-control{
    border: 1px solid #c2cad8;
    border-radius: 4px !important;
}
.customredbtn, .customredbtn:hover{
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: #ea5460;
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: 15px;
    background-color: #e12330;
    font-size: 14px;
}
.customgreenbtn, .customgreenbtn:hover{
    color: #ffffff !important;
    background-color: #549E39;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
     border-color: #619126;
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    font-size: 14px;
}
#gameform .left-padding{
    padding-left: 0;
    padding-right: 10px;
}
#gameform .right-padding{
    padding-right: 0;
    padding-left: 10px;
}
#gameform .top-padding{
    padding: 0;
}
#gameform .left-right-padding{
    padding-left: 0;
    padding-right: 0;    
}
#gameform .left-right-padding .game-info-caption{
    /*padding-bottom: 0;*/
    margin-bottom: 10px;
    padding-bottom: 1px;
}
#gameform .form-actions-btn{
    padding-bottom: 0;
    border-top: 0;
}
#gameform .error{
    color: red;
}
#gameform .date-pick-left{
    padding: 0;
}
/*#visitor-append, #home-append{
    border: 2px solid rgb(214, 214, 214);
    position: absolute;
    padding: 5.1px;
    z-index: 9999;
    background-color: #D3D3D3;
}
#visitor-append p, #home-append p{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 11px !important;
    text-align: left;
    font-weight: bold;    
}
#visitor-append p a, #home-append p a{
    color: #000000;
}*/
#team-append{
    border: 2px solid rgb(214, 214, 214);
    position: absolute;
    padding: 5.1px;
    z-index: 9999;
    background-color: #D3D3D3;
}
#team-append p{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 11px !important;
    text-align: left;
    font-weight: bold;    
}
#team-append p a{
    color: #000000;
}
#gameform .portlet>.portlet-title{
    border-bottom: 0;
    margin-bottom: 0;
}
.modal-header .modal-title{
    font-size: 18px;
}
#addssnbtn, #addssnbtn:hover, #adddivbtn, #adddivbtn:hover{
   background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
   border-radius: 4px !important;
   border-color: rgba(0, 0, 0, 0.25) 
}
#DivisionModal .modal-body, #DivisionModal .modal-content,  #SeasonModal .modal-body, #SeasonModal .modal-content{
    width:85%;
    margin: auto;
}
#diverror, #seasonerror{
    display: none;
    color:red;
}

@media(max-width:991px){
    #gameform .left-padding{
        padding: 0px !important;
    }
    #gameform .right-padding {
         padding: 0px !important;
    }
}

#hometeam-error, #visitorteam-error{
    display: none;
}
.customgreennewbtn, .customgreennewbtn:hover {
    padding: 7px 12px !important;
}
