select option:disabled{
    background: rgba(165, 162, 162, 0.3);
}


#conferencelist-error,#divisionlist-error,#undo_redo_to-error{
	color:red;
    font-size: 12px;
	margin-bottom:0px !important;
}
#undo_redo_move_up,#undo_redo_move_down,#undo_redo_move_up:hover,#undo_redo_move_down:hover{
	text-shadow: 0px -1px 0px rgba(0,0,0,.25);
    color: #ffffff !important;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
        border-color: rgba(0, 0, 0, .15);
    border-radius: 5px !important;
    padding: 5px 15px;
    margin-top: 15px;
    width: 80px;
    float: right;
    font-size: 11px;
	
}
#undo_redo_move_down{
	float:left !important;
}

#undo_redo_rightSelected,#undo_redo_leftSelected,#undo_redo_rightSelected:hover,#undo_redo_leftSelected:hover{
	text-shadow: 0px -1px 0px rgba(0,0,0,.25);
    color: #ffffff !important;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
	border-radius: 5px !important;
    padding: 5px 20px;
	   width: 85px;
    margin-left: auto;
    margin-right: auto;
	    padding: 3px 10px !important;

}
.green-meadowsave,.green-meadowsave:hover{
	
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
	border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
}
#addteamform label {
    font-weight: 600;
	    margin-bottom: 10px;

}

#cancelbtn {
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: #619126;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
	    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
	margin-left:15px;
}


.addteammainwrap{
    padding-top: 15px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px !important;
}

select#undo_redo option,select#undo_redo_to option{
	    padding: 5px 10px;

}
select#undo_redo{
    padding-left: 0;
    padding-right: 0px;
    padding-top: 0px;
    min-height: 240px;
    height: 210px;
}
select#undo_redo_to{
       padding-left: 0;
    padding-right: 0px;
    padding-top: 0px;
    min-height: 195px;
    height: 195px;
}
.loadingwrap{
    min-height: 317px;
	text-align:center;
	display:none;
}
.loadingwrap img{
    margin-top: 50%;
}
.centeredbtnswrap{
	margin-top:50px;
}
.rightsidewrap{
	margin-top:0px;
}
#undo_redo_rightAll{
	margin-top:75px;
}
#undo_redo_rightAll,#undo_redo_leftAll{
    border-radius: 4px !important;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #286090;
    background-image: -moz-linear-gradient(top, #2991ea, #1e4a6f);
    background-image: -ms-linear-gradient(top, #2991ea, #1e4a6f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2991ea), to(#1e4a6f));
        background-image: -webkit-linear-gradient(top, #2991ea, #1e4a6f);
    background-image: -o-linear-gradient(top, #2991ea, #1e4a6f);
    background-image: linear-gradient(top, #2991ea, #1e4a6f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2991ea', endColorstr='#1e4a6f', GradientType=0);
    border-color: #2991ea #1e4a6f #1e4a6f #2991ea;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, .15);
	    width: 85px;
    margin-left: auto;
    margin-right: auto;
	    padding: 3px 10px !important;
}

.searchheder {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
.searchbarstyle {
    float: right;
    padding-top: 5px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px !important;
}
.selecttext {
    margin-top: 8px;
	font-size: 15px;
}
.border-radius {
    border-radius: 4px !important;
}
.searchteambox{
	 border-radius: 4px !important;
	 margin-bottom:15px;
}
.emptyselected{
	display:none;
}
.addplayerbtntop,.addplayerbtntop:hover{
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, .15);
    border-radius: 4px !important;
    font-size: 12px;
    margin-bottom: 15px;
	    padding: 7px 15px;
}

@media (max-width: 767px){
    .centeredbtnswrap{
        margin-top: 0px;
    }
    .rightsidewrap{
        margin-top: 50px;
        text-align: center;
    }
    .addplayerbtntop{
        float:none !important;
    }
    .add_teamplayer{
        text-align: center;
    }
}

@media (max-width: 270px){
    .#cancelbtn{
       width:90px;
       margin-left: 0px;
    }
}