.roundbtnreddelete, .roundbtnreddelete:hover, .roundbtnreddelete:focus, .roundbtnreddelete:active, .roundbtnreddelete:visited{
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;  
    color: #fff ;
    border-color: #E95D5D ;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    /*background: -webkit-linear-gradient(top, #E95D5D, #E40304); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #E95D5D, #E40304); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #E95D5D, #E40304); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #E95D5D, #E40304); /* Standard syntax */
    text-decoration: none;
    background-image: -ms-linear-gradient(top, #E95D5D, #E40304);
    
}

.roundbtngreenedit, .roundbtngreenedit:hover, .roundbtngreenedit:focus, .roundbtngreenedit:active, .roundbtngreenedit:visited{
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;  
    color: #fff ;
    border-color: #A1C873 ;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    /*background: -webkit-linear-gradient(top, #A1C873, #70A62F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #A1C873, #70A62F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #A1C873, #70A62F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #A1C873, #70A62F); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    text-decoration: none;
}

.roundbtnyellow, .roundbtnyellow:hover, .roundbtnyellow:focus, .roundbtnyellow:active, .roundbtnyellow:visited{
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;  
    color: #fff ;
    border-color: #F9BB5D;
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    /*background: -webkit-linear-gradient(top,#fceabb,#f8b500); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #F9BB5D, #FF9A03); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #F9BB5D, #FF9A03); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #F9BB5D, #FF9A03); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    text-decoration: none;
}
.roundbtnblue, .roundbtnblue:hover, .roundbtnblue:focus, .roundbtnblue:active, .roundbtnblue:visited{
    padding: 4px 6px !important;
    font-size: 13px !important;
    margin-top: 5px !important; 
    color: #fff !important;
    border-color: #3598dc !important;
    background-image: -webkit-linear-gradient(top, #3598dc, #115d92);
    /*background: -webkit-linear-gradient(top, #3598dc, #115d92); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #3598dc, #115d92); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #3598dc, #115d92); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #3598dc, #115d92); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #3598dc, #115d92);
    text-decoration: none;
}

.resetbtnred, .resetbtnred:hover, .resetbtnred:focus, .resetbtnred:active, .resetbtnred:visited{
	color: #fff ;
    border-color: #E40304 !important;
    padding: 5px 12px !important;
    font-size: 14px;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    /*background: -webkit-linear-gradient(top, #E95D5D, #E40304); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #E95D5D, #E40304); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #E95D5D, #E40304); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #E95D5D, #E40304); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #E95D5D, #E40304);
    border-radius: 5px !important;
}

.btnpopupgreen, .btnpopupgreen:hover, .btnpopupgreen:focus, .btnpopupgreen:active, .btnpopupgreen:visited{
	color: #fff ;
    border-color: #A1C873;
    font-size: 14px;
    padding: 5px 12px !important;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    /*background: -webkit-linear-gradient(top, #A1C873, #70A62F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #A1C873, #70A62F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #A1C873, #70A62F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #A1C873, #70A62F); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    border-radius: 5px !important;
}

.btnpopupred, .btnpopupred:hover, .btnpopupred:focus, .btnpopupred:active, .btnpopupred:visited{
	color: #fff ;
    border-color: #E40304;
    font-size: 14px;
    padding: 5px 12px !important;
    line-height: 1.7 !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    /*background: -webkit-linear-gradient(top, #E95D5D, #E40304); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #E95D5D, #E40304); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #E95D5D, #E40304); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #E95D5D, #E40304); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #E95D5D, #E40304);
    border-radius: 5px !important;
}

.adddarkbtnlist,.adddarkbtnlist:hover, .adddarkbtnlist:focus,.adddarkbtnlist:active {
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, .15);
}
.searchbtnyellow,.searchbtnyellow:hover, .searchbtnyellow:focus,.searchbtnyellow:active {
    color: #fff ;
    font-size: 14px !important;
    padding: 5px 9px !important;
    border-color:  #F9BB5D;
    margin-top: 1px !important;
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    /*background: -webkit-linear-gradient(top,#fceabb,#f8b500); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #F9BB5D, #FF9A03); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #F9BB5D, #FF9A03); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #F9BB5D, #FF9A03); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    text-decoration: none;
}

.btnaddsaveupdategreen,.btnsaveupdategreen:hover,.btnsaveupdategreen:focus,.btnsaveupdategreen:active,
.btnsaveupdategreen:visited{
    color: #fff !important;
    border-color: #619126;
    font-size: 14px;
    padding: 5px 20px !important;
    background-color: #A1C873 !important;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F) !important;
    background: -webkit-linear-gradient(top, #A1C873, #70A62F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #A1C873, #70A62F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #A1C873, #70A62F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #A1C873, #70A62F); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    border-radius: 5px !important;
}
.btnaddcancelred, .btnaddcancelred:hover, .btnaddcancelred:focus, .btnaddcancelred:active, .btnaddcancelred:visited{
    color: #fff ;
    border-color: #E40304;
    font-size: 14px;
    padding: 5px 20px !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304) !important;
    background: -webkit-linear-gradient(top, #E95D5D, #E40304); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #E95D5D, #E40304); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #E95D5D, #E40304); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #E95D5D, #E40304); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #E95D5D, #E40304);
    border-radius: 5px !important;
}


.btn_purple, .btn_purple:hover, .btn_purple:focus, .btn_purple:active, .btn_purple:visited {

    background-image: -webkit-linear-gradient(top, #d59dec, #8E44AD) !important;
    background: -webkit-linear-gradient(top, #d59dec, #8E44AD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #d59dec, #8E44AD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #d59dec, #8E44AD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #d59dec, #8E44AD); /* Standard syntax */
    background-image: -ms-linear-gradient(top, #d59dec, #8E44AD);
    border-color:#d59dec;
    border-radius: 5px !important;
    color: #fff;
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-size: 13px;
}
.assigntobtngreen,.assignteambtn, .assigntobtngreen:hover, .assigntobtngreen:focus, .assigntobtngreen:active, .assigntobtngreen:visited, .assignteambtn:hover, .assignteambtn:focus, .assignteambtn:active, .assignteambtn:visited{

    border: 1px solid #cccccc;
    -webkit-border-radius: 4px  !important;
    -moz-border-radius: 4px  !important;
    border-radius: 4px !important;
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    border-color: #619126;
    padding:3px 10px;
}
.deassignteambtn, .deassignteambtn:hover, .deassignteambtn:focus, .deassignteambtn:active, .deassignteambtn:visited{
   background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    background-image: -moz-linear-gradient(center top , #E95D5D, #E40304);
    background-image: -ms-linear-gradient(top , #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    padding: 7px 15px;
    BORDER-radius: 4px !important;
    color: #fff;    
    font-size: 14px;
}

