.player_btn{
    padding: 4px 1px !important;
}
.showlink{
    display: block;
}
.hidelink{
    display: none;
}
.search{
    overflow: auto;
    background: white !important;
    border: 1px solid #bcc5d4;
}
.tbl_top{
    margin-top: 10px;
}

.tbl_center_td{
    text-align: center;
}
/*#sample_1{
    margin-top: 5px;
}*/
#sample_1.dataTable thead th, table.dataTable thead td {
    /*padding: 5px 10px;*/
    font-size: 13px;
    border-bottom: 0px solid #111;
}
.btn-icon-only{
    width:25px;
    height:25px;
}
.icon-trash{
    line-height: 13px ;
}
.btn-icon-only>[class^=icon-], .btn-icon-only>i {
    
    margin-top: 0px;
}

.border-radius {
    border-radius: 4px !important;
} 
.player_form {
    width: 100%;
    height: 34px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.portlet>.portlet-title {
    border-bottom: none;
}
.dataTables_length,#sample_1_filter{
    display:none;
}
table.dataTable tbody td {
    padding: 4px 10px;
    font-size: 12px;
}


.table thead tr{
    background: #263849;
    background: -moz-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C4C5B), color-stop(100%, #263849));
    background: -webkit-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -o-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -ms-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: linear-gradient(top, #3C4C5B 0%, #263849 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849')";

}

.table thead th {
    color: #FFF;
    border-right: 1px solid #1C2B37;
    border-left: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
        font: 12px/1.7em 'Open Sans', arial, sans-serif;
}
table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

 .table thead>tr>th {
    border-bottom: 0;
    font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

.table thead :first-child tr:first-child th {
    border-top: 1px solid #292C32;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    /* border: none; */
    border-top: 1px solid #292C32;
}

.portlet.light {
    padding: 12px 20px 0px;
    background-color: #fff;
}
.profileimgswrap .multiselect.dropdown-toggle {
    width: 200px;
}
.widget-header {
    position: relative;
    height: 40px;
        border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
       background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #CCC;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
}

/*table.dataTable thead th, table.dataTable thead td {
    padding: 6px 15px;
}*/
.widget-header h3 {
    position: relative;
        left: 10px;
    float: left;
    display: inline-block;
    margin-right: 3em;
    font-size: 13px;
    font-weight: 600;
    color: #555;
    line-height: 10px;
    text-shadow: 1px 1px 2px rgba(255,255,255,1);
        margin-bottom: 0px;
            margin-top: 12px;
}

.player_btn:hover {
       text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.player_btn:first-child {
}
.player_btn:hover, .player_btn:active, .player_btn.active, .player_btn.disabled, .player_btn[disabled] {
    background-color: #e6e6e6;
}
input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
.player_btn {
    padding: 4px 12px !important; 
    font-size: 13px;
     margin-top: 5px;

}
#sample_1_wrapper .row{
    display:none;
}
.player_btn{
        text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, .15);
}
.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0px solid #e7ecf1;
    margin: 0px 0!important;
    margin-top: 0px;
        border-top: 0px;
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
    margin-bottom: 0px;
}


.dataTables_wrapper {
    box-shadow: 0 2px 5px rgb(212, 212, 212);
}

.purple {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 4px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn_round, .btn_round:hover, .btn_round:focus, .btn_round:active, .btn_round:visited{
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;  
    color: #fff  !important;
    background-color: #e7505a !important;
    border-color: #e7505a !important;
}

.btn_round_green, .btn_round_green:hover, .btn_round_green:focus, .btn_round_green:active, .btn_round_green:visited{
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;  
    color: #fff  !important;
    background-color: #70A62F !important;
    border-color: #70A62F !important;
}
.btn_round_green{
    background-image: -webkit-linear-gradient(top, #a0cc6b, #4d751d);
    border-color: rgba(0, 0, 0, 0.15);
}

.close {
   margin-top: 5px !important;
}
/************** btn page*****************/

.btn-secondary {
    text-shadow: 0px -1px 0px rgba(0,0,0,.25);
    color: #ffffff;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
}
.btn-inverse {
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #5E7C88;
    background-image: -moz-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -ms-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7c9aa6), to(#405e6a));
    background-image: -webkit-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -o-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: linear-gradient(top, #7c9aa6, #405e6a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c9aa6', endColorstr='#405e6a', GradientType=0);
    border-color: #5E7C88 #405e6a #405e6a #5E7C88;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.btn-secondary:hover {
    color: #ffffdc;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .btn-group.open .btn-secondary.dropdown-toggle {
    background-color: #FF9A03;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled], .btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #405e6a;
}
.btn-inverse:hover {
    color: #ffffff;
    text-shadow: 0px -1px 0px #22404c;
}

.btn {
    padding: 5px 12px; 
    font-size: 14px;
    margin-top: 5px;

}
.profileimgswrap .multiselect-container>li {
    overflow: hidden;
}

.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0px solid #e7ecf1;
    margin: 0px 0!important;
    margin-top: 0px;
        border-top: 0px;
}

#player_search{
    padding-right: 0px;
    padding-left: 0px;
}


#sample_1_paginate{
    display: none;
}
td.Pagetext1{
    padding-top: 8px;
}
#sample_1 th, #sample_1 tr td{
    text-align: center;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
    border: 2px solid white;
}
.portlet.portletbg{
    padding: 20px 15px 0px;
    background: #FFF;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px !Important;float: right;
}



/*#organizationsearch{
    margin-top: -2px;
}*/
.removerightpadding{
    padding-right: 0;
}
/*#sample_1 tbody tr td:nth-child(1){
    text-align: left;
}*/
#sample_1.dataTable tbody td , #sample_1.dataTable thead th {
    padding: 4px 10px;
}
.searchtext{
    margin-top: 6px;
}
.border-radius{
    border-radius: 4px !important;
}
.dtr-title, .dtr-data{
    vertical-align: middle;
}
.inner-table{
    margin-bottom: 0;
}
td.child{
    background-color: #e5e5e5 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.btn-dark{
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, .15);
}
.btn-dark:hover{
    color: #FFFFFF;
}
/*** SECTION FOR SEARCH BAR ******/
.searchteambtn{
    margin-right:10px;border-radius: 4px !important;
    font-size: 13px;
}
.searchrightpadding{
    padding-left: 8px;
 }
 .searchheder{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
.searchbarstyle{
    float:right;padding-top:15px;background-color:#FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px !important;
}
.searchrightpadding{
    padding-left: 8px;
 }
 .removerightpadding{
    padding-right: 0;
}
 .resetbtn, .resetbtn:hover{
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 0px;
    border-radius: 5px !important;
  /*  border-color: #E40304;*/
}
#searchbtn, #searchbtn:hover{
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 0px;
    border-radius: 5px !important;
  /*  border-color: #E40304;*/
}
.btn_purple{
  background-image: -webkit-linear-gradient(top, #d59dec, #8E44AD);
    border-color: rgba(0, 0, 0, 0.15);
}
.playerimgcont .imghead {
    border: 1px solid grey;
    padding: 5px;
    font-weight: normal;
    color: white;
    font-size: 13px;
}
.bottomadddmore{
    position: absolute;
}
.imgsuploader, .imgsuploaderfile {
    padding: 11px 0px 0px 0px;
}

.loading_img{
    padding-top: 10px;
    display:none;
}
.imguploadicons{
    width: 20px;
}

.imgiconcont img:first-child{
    margin-right: 7px;
}

.profileimgswrap{
    margin-top: 9px;
}

.table .seasonsnames p{
    margin-bottom: 0px;
}

#deletestatus{
    display:none;
}
.table .deleteimgicons,.profileimgdips,.table .seasonsnames{
    vertical-align:middle !important;
}
.table .deleteimgicons img{
    cursor:pointer;
}
.profileimgswrap ul.multiselect-container li.disabled,.profileimgswrap ul.multiselect-container li.disabled:hover {
    background-color: #eae8e8;
    overflow: hidden;
    position: relative;
}
.profileimgswrap ul.multiselect-container li.disabled>a>label.checkbox {
        color: #a59e9e;
}
.profileimgswrap ul.multiselect-container li.active {
    background-color: #ccc;
        overflow: hidden;
}

.editplayimg,.saveplayimgbtn{
    color: #FFF;
    background-color: #078a07;
    padding: 3px 6px;
    border-radius: 3px !important;
    cursor:pointer;
}
.editplayimg, .saveplayimgbtn{
    background-image: -webkit-linear-gradient(top, #a0cc6b, #70A62F);
    border-color: rgba(0, 0, 0, 0.15);
}

.table .seasonsnames .multiselect-container.dropdown-menu {
        position: absolute;
}
.multiselect{
    /* border-color: #ddd; */
    /* border-bottom-color: #cecece; */
    /* background: #f4f4f4; */
    /* background-image: -webkit-linear-gradient(top,#f4f4f4 0,#eaeaea 100%); */
    background-image: linear-gradient(to bottom,#f4f4f4 0,#eaeaea 100%);
    background-repeat: repeat-x;
}
.multiselect-container{
    font-size: 12px;
}
.table .seasonsnames .multiselect-native-select{
    display:none;
}
.imguploadcont {
    margin-top: 0px !important;
}
.playerimguploadwrap {
    margin-top: 0px;
}
.playerimgcont, .playerimguploadwrap {
    margin: auto;
    float: none;
}
.imgiconcont{
 text-align: left;
}

.imghead {
   /* background: #FEF505;*/
   background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
   color:white;
}
.imgslistbody{
    text-align: center !important;
}
.multiselect-container li a{
    font: 13px/1.7em 'Open Sans', arial, sans-serif !important;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px !important;
}
/*** /SECTION FOR SEARCH BAR ******/
.customgreenbtn, .customgreenbtn:hover{
    color: #ffffff !important;
    background-color: #549E39;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    /*border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);*/
    border-radius: 5px !important;
    /*padding: 5px 20px;*/
    padding-left: 0;
    width: 65px;
    font-size: 13px;

}
.customredbtn, .customredbtn:hover{
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: 15px;
    background-color: #e12330;
    font-size: 14px;

}
.conferencebtn{
    line-height: 1.7 !important;    
}
.paddingremove{
    padding-left: 0;
    padding-right: 0;
}
.confmodalpopup{
    float: none;
    margin: auto;
}
.team_bio_portlet .form-body{
    padding-top: 0;
    padding-bottom: 0;
}
.portlet.light.team_bio_portlet{
    margin-bottom: 0;
}
#static .modal-body{
    padding-top: 0;
}

#edit_division{
    font-size:12px;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting{
    font-weight: normal;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

.loadingsection {
    display: none;
    text-align: center;
    min-height: 400px;
    background-color: #ffffff;
    padding-top: 175px;
}
@media (min-width:769px) and (max-width:1265px) {
       .searchtext{
        margin-top: -13px;
    } 
    
}
@media (min-width:769px){
    .resetbtnstyle{
        margin-left: 6px;
    }
    .searchboxstyle{
       /* width:80.9%;*/
    }
}  

@media (max-width:768px){
 .searchboxstyle{
    padding-left: 0px;
 }
 #conference_btn{
    text-align: center !important;
    margin-left: 0px;
  }
  
} 
@media(min-width:270px) and (max-width:430px){
   .widget-header{
        height:70px;
    }
    .mobile_right{
       float: left !important;
       text-align: center;
       width: 100%;
    }
    .widget-header h3{
        text-align: center;
        float: none; 
        display: block; 
    }

}
@media(min-width:240px) and (max-width:380px){
    #sample_1{
        width:396px;
    }
    .modal-title{
       font-size: 15px;
    }
    #mode{
        margin-right: 3% !important;
    }
}
#sample_1.dataTable td.sorting_1, #sample_1.dataTable td.sorting_2, #sample_1.dataTable td.sorting_3, #sample_1.dataTable th.sorting_1, #sample_1.dataTable th.sorting_2, #sample_1.dataTable th.sorting_3 {
    background: none !important;
}
