.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.page-content-wrapper .page-content .alert.alert-danger {
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.expand{
	display: none;
	cursor: pointer;
}
.collapse{
	display: block;
}
.gameinfotable{
	border: 0;
}
.opencloseportletcaption{
	cursor: pointer !important;
}
#sample_2_wrapper .dt-buttons{
	display: none;
}
#sample_2 thead th.sorting_desc:after, #sample_2 thead th.sorting_asc:after, #sample_2 thead th.sorting:after{
	display: none;
}
#sample_2{
	border-bottom: 0 ;
}
.owlpaging{
	display: none;
}
.rm-padding{
	padding-right: 0;
	padding-left: 0;
}
.portletdown{
	margin-bottom: 0;
}
.rc-padding{
	padding-bottom: 5px;
	padding-top: 5px;
}
.slimScrollDiv{
	position: relative; 
	overflow: hidden; 
	width: auto; 
}
.scroller{
	overflow-y: visible; 
	width: auto;
}
.portlet .page-title{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
.portlet{
	background-color: #FFFFFF;
	margin-bottom: 0;
}
/*.page-content-wrapper .gamelisting{
	background-color: #E5E5E5;
}
.gamelisting{
    background: url(../../../images/bg.png) 0px 0px repeat rgb(239, 239, 239) !important;
}*/
.mycarousalnew{
	background-color: #FFFFFF;
	min-height:47px;
}
.logames{
	padding-top: 1.5%;
	padding-left: 0;
	padding-right: 0;
}
.logamesbtn{
	padding-top: 1.1%;
	padding-left: 0;
	padding-right: 0;
}
.searchheder{
	margin-left: 0;
	margin-right: 0;
	/*padding-top: 15px;*/
	margin-bottom: 10px;
}
#ajaxloading{
	text-align: center;
	height: 500px;
	padding-top: 200px;
}
.portlet.box.grey .portlet-title .captionstyle{
	font-size: 14px;
	padding: 8px 0 8px;
	width:98%;float:left;
}
.carouselstle{
	height: 0;
}
.carouselstle{
	top: 10px;
	width: 83%;
}
.gamemonth{
	background-color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
    /*margin-top: -47px;*/
}
.gamemonth strong{
	text-transform: uppercase;
}
.carouselstle i {
	padding: 5px;
	background-color: #E5E5E5;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
top: 0 !important;
}
.portlet.box.grey{
	border:1px solid #e5e5e5;
}
.portletdown.portlet>.portlet-title{
	min-height: 34px;
}
.carousel-inner{
	background-color: #FFFFFF;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
	margin-bottom: 10px;
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}
.rm-margin{
	margin-right: 0;
	margin-left: 0;
}
.monthrcds.prev-next{
    margin-top: -6px ;
} 
.monthrcds{
	padding-top: 5px;    
}
.portlet.box>.portlet-title>.caption{
	padding: 10px 0 9px;
}
.portlet.box>.portlet-title>.actions {
    padding: 3px 0 5px;
}
.actions, .tools{
	padding-bottom: 0;
}
.portlet>.portlet-title>.tools{
	padding-bottom: 0;
	padding-top: 9px;
}


.actions .actions .btn-warning:hover, .actions .btn-warning:active, .actions .btn-warning.active, .actions .btn-warning.disabled, .actions .btn-warning[disabled], .btn-group.open .actions .btn-warning.dropdown-toggle {	
    margin-right: 0 !important;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.actions .btn-warning{
	margin-right: 0 !important;
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-success, .btn-danger, .actions .btn-warning{
	font-size: 12px;
    margin-right: 5px !important;
}
.addcustomerbtn, .btn-dark{
	border-color: transparent;
	font-size: 13px;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    text-shadow: 0px 0px 0px rgba(0,0,0,.5);
    color: #ffffff !important;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, .15);
}
.addcustomerbtn:hover, .btn-dark:hover{
    color: #FFFFFF;
    border-color: transparent;
}
.btn{
    border-radius: 4px !important;
}
.removerightpadding{
    padding-right: 0;
}
.caption-subject{
	color: #555 !important;
}
.portlet.box.grey>.portlet-title{
	background-color: #E5E5E5;
    height: 34px;
}
.ajaxcarousel-inner{
	padding-top: 5px;
}

.searchbarstyle{
	float:right;padding-top:15px;background-color:#FFFFFF;
	border: 1px solid #CCC;
	border-radius: 5px !important;
	padding-right:0px;
}
#game-carousal{
	border: 1px solid #CCC;
    border-top: 0;
	min-height: 450px;
	background-color:#FFFFFF;
	border-radius: 5px !important;
    clear: both;
}
 .mycarousalnew{
 	border-radius: 5px !important;
    border: 1px solid #CCC;
    /*border-bottom: 0;*/
 	/*border: 1px solid #E5E5E5;*/
 } 
 .searchrightpadding{
 	padding-left: 11px;
 }
.btn-secondary {
    text-shadow: 0px -1px 0px rgba(0,0,0,.25);
    color: #ffffff !important;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
}

.btn-secondary:hover {
    color: #ffffdc;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .btn-group.open .btn-secondary.dropdown-toggle {
    background-color: #FF9A03;
}
.border-radius{
    border-radius: 4px !important;
}
.searchteambtn{
	margin-right:10px;border-radius: 4px !important;
	font-size: 13px;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	padding: 5px !important;
	text-align: center;
}
.gameinfotable th{
	font-size: 13px !important;
}
.gameinfotable thead tr th, .gameinfotable tbody tr td{
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}
.gameinfotable{
	margin-bottom: 0;
}
.portlet.box.grey.portletdown{
	border: none;
}
.portlet.box>.portlet-body.portlet-custom{
	padding: 0;
}
.mycarousalnew .logamesbtn a.addcustomerbtn{
	line-height: 1;
	float:right;margin-top:-1px;
}
#resetbtn{
    padding: 5px 12px;
    font-size: 14px;
    margin-top: 1px;
    border-color: #E40304;
    border-radius: 5px !important;
}
#shortgamedetail{
	color:#000;background-image:none;display: block;width: 100%;	
}
#shortgamedetail:hover{
	text-decoration: none;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
	position: absolute;
    z-index: 999999;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-align: center;
    top: 33% !important;
    left: 49% !important;
    display: block;
    border: 0;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	width:30%;
}
.loadingsection {
    display: none;
    text-align: center;
    min-height: 500px;
    background-color: #ffffff;
    padding-top: 175px;
}
.modal-body{
	overflow:auto;
	max-width: 900px !important;
}
.error{
	color:red;
	font-size:14px;
}
.actions .combineplayer, .actions .combineplayer:hover{
    font-size: 12px;
    background-color: #3a80d7;
    border-color: #286ec5;
}
.carousel-inner .actions{
    margin-left: 5px;
}
.alert-success.combineappend{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.alert-danger.combineappend{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
#playeriderror, #duplicateplayeriderror{
    display: none;
} 
.cobminestatus{
    display: none;
}
#combineplayerfrm .comineplatable tr td{
    vertical-align: middle;
    border:none;
    font-weight:bold;
    text-align: center;
}
#combineplayerfrm table.comineplatable{
    margin-bottom:0em;
}
#combineplayerfrm .combinemakecenter{
    margin:auto;float:none;
}
.combinemakecenter .popupbtn input, .combinemakecenter .popupbtn button{
    font-size:14px;
}
.combinemakecenter .popupbtn{
    margin-top:10px;
}
.popupbtn .cancelbtn{
    margin-left:15px;
}
.gameinfotable .actions .red_btn,.gameinfotable .actions .yellow_btn{
    padding: 4px 4px;    
}
.gameinfotable .actions .green_btn{
    padding: 4px 4px;
}
.gameinfotable .actions .trash_btn, .gameinfotable .actions .icon-doc{
    margin-left: 2px;
}
.gamemonth .prev{
    margin-right: 117px;
}
.gamemonth .next{
    margin-left: 127px;
}
.logames .listgametitle{

    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 13px;
    font-weight: 600;
    color: #555 !important;
    line-height: 10px;
    text-shadow: 1px 1px 2px rgba(255,255,255,1);
    margin-bottom: 0px;
    margin-top: 0px;
}
@media (min-width:769px){
    #resetbtn{
        float:left;
    }
    .removerightpadding{
     padding-left: 0px;
     padding-right: 15px;
    }
    .reset-left1{
         float:left ;
    }
     .removerightpaddingtable{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media(min-width:270px) and (max-width:767px){
.search_season{
   padding-left: 0px;
  }
  .removerightpadding{
    padding-left: 0px;
    padding-right: 15px;
  }
  .removerightpaddingtable{
    padding-left: 0px;
    padding-right: 0px;
  }
  .searchrightpadding{
    padding-left: 0px;
    text-align: center;
   }
}
@media(min-width:270px) and (max-width:430px){
   .widget-header{
        height:70px;
    }
    .add_play{
       float: left !important;
       text-align: center;
       width: 100%;
    }
    .widget-header h3{
        text-align: center;
        float: none; 
        display: block; 
    }
    .player_btn {
      padding: 4px 11px !important;
      font-size: 12px;
      margin-top: 5px;
      border-radius: 4px !important;
      margin-right: 0px;
   }
    #myCarousel .carousel-inner .panel-body.rc-padding{
        /*height: 35px;*/
        padding-left: 5px;
        padding-right: 5px;
    }
    #myCarousel .carousel-inner .panel-body.rc-padding .portlet-title{
        padding-left: 0px;
        padding-right: 0px;
    }
    .portlet.box.grey .portlet-title .captionstyle {
        font-size: 9px !important;
    }
}
@media (max-width:767px){
    .gamemonth strong{
        font-size: 14px;
    }
    .portlet.box.grey .portlet-title .captionstyle {
        font-size: 13px;
        width: 94% !important;
    }
    .mycarousalnew{
        min-height: 120px;
    }
    .mycarousalnew .logamesbtn a.addcustomerbtn{        
        float: none;
    }
    .logamesbtn{
        text-align: center;
    }
    .logames{
        text-align: center;
        font-size: 15px;
    }
    .logames .listgametitle{
        font-size: 15px;
    }

}
@media (max-width:450px){
    .portlet.box.grey .portlet-title .captionstyle {
        font-size: 10px;
    }

}
@media(min-width:768px) and (max-width:1200px){
    .gamemonth{
        font-size: 10px;
    }   
    
}
.portlet.box.grey .portlet-title .captionstyle {
    width: 94% !important;
}
