#conferencename-error,#divisionstsmsg,#manageconfmsg{
	display:none;
}
.conferencebtngrp{
	float:right;
}
.btn.red:not(.btn-outline) {
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
}

.btn.blue:not(.btn-outline) {
    background-image: -webkit-linear-gradient(top, #3598dc, #115d92);
}
.btn.green:not(.btn-outline) {
    background-image: -webkit-linear-gradient(top, #32c5d2, #117179);
}

.deleteseasonbtn.btn-icon-only,.manageconferencemodel.btn-icon-only,.addconferencebtn.btn-icon-only,.deletebtnconf.btn-icon-only ,.managedivisionbtn.btn-icon-only,.adddivisionbtn.btn-icon-only,.deletebtndiv.btn-icon-only{
    height: 25px;
    width: 25px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
	cursor:pointer;
	margin-right:10px;
	padding-top: 3px;
}

.seasontbltogglewrap.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
}

.seasontbltogglewrap.portlet>.portlet-title {
    min-height: 34px;
}
.seasontbltogglewrap.portlet>.portlet-title>.tools {
    padding: 9px 0 4px;
}
.seasontbltogglewrap.portlet {
    margin-bottom: 10px;
}
.ms_seasontble td{
	vertical-align:middle;	
}
.seasontbltoggle{
	padding:0px !important;
	/*display:none;*/
}
.ms_seasontble td .mt-checkbox{
	margin-bottom:0px;
    margin-top: 5px;
    height: 22px;
}

.ms_seasontble{
    border: 1px solid #e7ecf1;
	margin-bottom: 0px;
}
.modal-body{
	overflow: auto;
}
#ConferenceModal .cancelbtn,#DivisionModal .cancelbtn{
	margin-left:15px;
}
#conferencefrm .error,#divisionfrm .error{
	color:red;
}
.managepopuplist,.managepopuplistDivision{
	margin-bottom:0px;
	margin-top:0px;
}
.ms_seasontble .btn{
	float:right;
}
.innertable{
	margin-bottom:0px;
    margin-left: 10px;
	position:relative;	
	width: calc(100% - 2px);
	/*margin-top: 5px;	*/

}

.parent_confernce  .conferencetbltoggle:first-child>.innertable{
	margin-top: 10px;	
}

.seasoncircle{
	background-color: #0c7110;
    padding: 0px 6px;
    margin-right: 5px;
    color: #fff;
    font-size: 13px;
	    padding-left: 6px;
}

.divisioncircle{
    background-color: #2137b3;
	padding: 0px 4px;
    margin-right: 5px;
    color: #fff;
    font-size: 13px;
    padding-left: 5px;
}
.conferencecircle{
    background-color: #f93c00;
    padding: 0px 5px;
    margin-right: 5px;
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
}
.conferencebtns,.ms_seasontble{
	position:relative;
}
table.innertable tr td .mt-checkbox:before{
	content: "";
    display: block;
    width: 14px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 58%;
    left: -37px;
}

table.ms_seasontble>tbody>tr>td:after{
	content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 32px;
   bottom: 45px;
    left: 17px;
    border-left: 1px solid;
}

.mt-checkbox span{
    z-index: 999;
}


table.innerdivtable tr td:before{
	content: "";
    display: block;
    width: 12px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 58%;
    left: 0px;
}
.divisionbtns:before{
	content: "";
    display: block;
    width: 0;
    position: absolute;
    top: -8px;
    bottom: 19px;
    left: 0px;
    border-left: 1px solid;
}

.innerdivtable:before{
	content: "";
    display: block;
    width: 0;
    position: absolute;
    top: -21px;
    bottom: 19px;
    left: 0px;
    border-left: 1px solid;
}

.innerdivtable {
    margin-bottom: 0px;
    margin-left: 55px;
    position: relative;
    width: calc(100% - 47px);
	width: -webkit-calc(100% - 47px); /** Safari 6, Chrome 19-25 **/
	width: -moz-calc(100% - 47px); /** FF 4-15  **/
	width: calc(100% - 47px);
	width:95%
}
.mt-checkbox > span::after {
     -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    transform: rotate(45deg);
}
.seasonwrapcont {
	overflow: hidden !important;
}

#loadingconference,#loadingaddconfer,#loadingadddivisn{
	display:none;
}

#loadingseason,#seasonstsnmsg,#loadingadds{
	display:none;
}
#seasonModal .modal-open .modal{
	    overflow-y: hidden !important;
}
.slidetogglewrap{
	display:none;
}
#seasonModal .mt-radio{
    margin-bottom: 0px;
}
.error{
    color: red;
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: auto;
	border:none;
	margin-bottom:0px;
}

.portlet.light {
   /* padding: 8px 20px 15px;*/
   padding: 16px 20px 15px;
    background-color: #fff;
}
.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 7px 0 12px;
}

.portlet-title .addseasonbtntop{
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, .15);
	border-radius:4px !important;
	    font-size: 12px;
}

.headertopbox{
    padding: 20px 15px 0px;
    background: #FFF;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px !Important;
}

.bottommainwrap.portlet.light{
    background: #FFF;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px !Important;
	padding: 12px 0px;
	overflow: auto;
}

/***********************Karuna***************/

.btn-success {
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    border-radius: 4px !important;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
    background-color: #70A62F;
}

.btn-success:hover {
    color: #ffffff;
    text-shadow: 0px 0px 0px #186200;
    border: 1px solid #549E39;
}
.btn-success:not(.btn-outline).focus, .btn-success:not(.btn-outline):focus {
    color: #FFF;
    background-color: #A1C873;
    border-color: #70A62F;
}

.btn-danger:hover {
    color: #fff6f6;
    text-shadow: 0px 0px 0px #760000;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled], .btn-group.open .btn-danger.dropdown-toggle {
    background-color: #E40304;
}
.btn-danger{
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px !important;
}
.btn-danger:not(.btn-outline).focus, .btn-danger:not(.btn-outline):focus {
    color: #FFF;
    background-color: #E95D5D;
    border-color: #E40304;
}
.btn_cancel{
    margin-left: 15px;
}
.status_radio{
    margin-bottom: 0px !important;
}
.btn_managesea{
    margin-bottom: 6px !important;
}
.border-radius {
    border-radius: 4px !important;
}
  


.addnewseasonbtn,.addnewseasonbtn:hover{
	color: #ffffff;
	background-color: #549E39;
	background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
	background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
	background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
	background-image: -o-linear-gradient(top, #A1C873, #70A62F);
	background-image: linear-gradient(top, #A1C873, #70A62F);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
	border-color: #619126;
	border-radius: 4px !important;
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
#seasonnamenew{
	 border-radius: 4px !Important;
}
/*****/
.divisiontbltoggle {
	/*  Do not delete this style. It will be future use */
	min-height: 20px;
	
    overflow-y: auto;
    overflow-x: hidden;
}
.divisions.ui-sortable-helper {
	left:70px !important;
}

.conferencetbltoggle.ui-sortable-helper {
	overflow: auto !important;
    /* overflow-x: visible !important; */
    height: auto !important;
}
.conferencetbltoggle.ui-sortable-helper>.innertable{
    width: 99%;
}

.divisions.ui-sortable-helper>.innerdivtable{
	margin-left:0px !important;
	width: 100%;
}
.divisions.ui-sortable-helper{
	width:93% !important;
}
.ui-sortable-helper{
	/*border:1px dotted;*/
	--webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 1);
	/*width:85% !important;*/
	background-color:#fff;
}
.divisiontbltoggle  .ui-sortable-placeholder{
	-webkit-box-shadow: inset 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	min-height: 45px;
	visibility: visible !Important;
	opacity: 1 !important;
	display: block !Important;
	width:95% !important;
	margin:auto !important;
	margin-left:5% !important;

}
.divisiontbltoggle .ui-sortable-placeholder{
	margin:auto !Important;
}
.ui-sortable-helper table.innerdivtable tr td:before{
	border:none !important;
}

.ui-sortable-helper>.innerdivtable:before{
	border:none !important;
}
.seasonwrapcont.ui-sortable-helper{ 
	padding-top: 0px;
	margin-bottom: 10px;
	padding-bottom:3px !important;
	overflow:visible !important;
	min-height:45px;
}

.seasonwrapcont.ui-sortable-helper .seasontbltogglewrap{
	margin-top: 4px;
	padding-bottom:2px !important;
	padding-bottom:3px;
}
.assigneddivision{
	margin-left: 15px;
	background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
	padding: 4px 10px;
	border-radius: 4px !important;
	font-size: 13px;
	color: #fff;
}
.season-name-conference{
padding-left:10px;
font-weight:normal;
}
.conference-name-division{
padding-left:10px;
font-weight:normal;
}


.popupmodelseason .innerdivtable {
    width: 90%;
}