/*Manage Table page styles*/
.portlet>.portlet-title {
    border-bottom: none;
}
.dataTables_length,#sample_1_filter{
	display:none;
}
table.dataTable tbody td {
    padding: 8px 10px;
    font-size: 13px;
}

.table thead tr{
    background: #263849;
    background: -moz-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C4C5B), color-stop(100%, #263849));
    background: -webkit-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -o-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -ms-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: linear-gradient(top, #3C4C5B 0%, #263849 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849')";


}

.table thead th {
    color: #FFF;
    /*border-right: 1px solid #1C2B37;*/
    border-left: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	    font: 12px/1.7em 'Open Sans', arial, sans-serif;
        text-align: center;
}
table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

 .table thead>tr>th {
    border-bottom: 0;
    font: 13px/1.7em 'Open Sans', arial, sans-serif;
	
}

.table thead :first-child tr:first-child th {
    border-top: 1px solid #292C32;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    /* border: none; */
    border-top: 1px solid #292C32;
}

.portlet.light {
    padding: 12px 20px 0px;
    background-color: #fff;
}

.widget-header {
    position: relative;
    height: 40px;
        border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
       background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #CCC;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
}

table.dataTable thead th, table.dataTable thead td {
    padding: 6px 15px;
}
.widget-header h3 {
    position: relative;
        left: 10px;
    float: left;
    display: inline-block;
    margin-right: 3em;
    font-size: 13px;
    font-weight: 600;
    color: #555;
    line-height: 10px;
    text-shadow: 1px 1px 2px rgba(255,255,255,1);
	    margin-bottom: 0px;
		    margin-top: 12px;
}

/*.btn:hover {    
       text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.btn:first-child {
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
}*/
input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
#sample_1_wrapper .row{
	display:none;
}
.btn-secondary {
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, .15);
}
.btn {
    padding: 4px 12px; 
    font-size: 13px;
	 /*margin-top: 5px;*/

}
.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0px solid #e7ecf1;
    margin: 0px 0!important;
    margin-top: 0px;
	    border-top: 0px;
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
    margin-bottom: 0px;
}
.dataTables_wrapper {
    box-shadow: 0 2px 5px rgb(212, 212, 212);
}

.addcustomerbtn{
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
   
}
.addcustomerbtn:hover, .addcustomerbtn:active, .addcustomerbtn:focus  {
    color: #FFFFFF !important;
}



/* Manage video page styles*/
/**/
.togglecontainer {
 /*   margin-top: 15px; */
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
	 margin-bottom: 15px; 
}
.toggleinnrewrap {
    clear: both;
    float: none;
    margin: auto;
    overflow: auto;
    padding: 15px;
    padding-top: 4px;
    padding-bottom: 0px;
}
.titlenone{
border:none !important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.php{
border:none;
box-shadow:none;
}
.stream_create{
    font-weight:bolder;
    padding-top:13px;
    margin-bottom:0px !important;
}
.stream_create1 {
	font-weight:bolder;
	padding-top:0px;
	margin-bottom:0px !important;
}
.pad_none{
    padding-left:0px !important;
    padding-right:0px !important;
    /*margin: 12px 0px;*/
    margin: 10px 0px;
}
.pad_set {
	padding-left: 12px !important;
}
.e_n_f_pad {
	max-width: 278px;
    margin-left: 15px;
}
.table.dataTable {
	margin-top: 0px !important;
}
.e_n_f_new_sy {
	padding-bottom: 0px !important;
    padding-top: 4px !important;
}
.searchheder {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    /*padding-top: 15px;*/
}
.searchbarstyle {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px !important;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}
.searchbarstyle1 {
    padding-top: 15px;
}
.removerightpadding {
    padding-right: 0;
}
.searchrightpadding {
    padding-left: 8px;
}
.searchtogglebar{
 background-color: #ffffff;
 border: 1px solid #ccc;
 border-radius: 5px !important;
 padding-top: 7px;
}
.searchtogglebtn, .searchtogglebtn:hover, .searchtogglebtn:focus, .searchtogglebtn:active, .searchtogglebtn:link {
    color: #ffffff;
    /*background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);*/
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
    height: 34px;
    border-radius: 5px !important;
    font-size: 14px;
}
.searchtogglebtn_n_s, .searchtogglebtn_n_s:hover {
    color: #ffffff;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
   /* background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);*/
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000 !important;
    border-color: rgba(0, 0, 0, .15);
    height: 34px;
    border-radius: 5px !important;
    font-size: 14px;
}

.searchtogglebtn:hover {
    color: #ffffdc;
}
.searchtogglebtn:hover, .searchtogglebtn:active, .searchtogglebtn.active, .searchtogglebtn.disabled, .searchtogglebtn[disabled], .btn-group.open .searchtogglebtn.dropdown-toggle {
    background-color: #FF9A03 !important;
}


.searchtogglebtn_red, .searchtogglebtn_red:hover, .searchtogglebtn_red:focus, .searchtogglebtn_red:active, .searchtogglebtn_red:link {
    height: 34px;
    border-radius: 5px !important;
    /*background-color: red;*/
    color: #fff !important;
    /*background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);*/
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F)) !important;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F) !important;
    border-color: #549E39;
    font-size: 14px;
}
.searchtogglebtn_red_n_c, .searchtogglebtn_red_n_c:hover {
    height: 34px;
    border-radius: 5px !important;
    background-color: red;
    color: #fff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    background-image: -ms-linear-gradient(top, #E95D5D, #E40304);
    background-image: -moz-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);
    font-size: 14px;
}
.searchtogglebtn_red:hover, .searchtogglebtn_red:focus, .searchtogglebtn_red:active {
    color: #fff;
}
.createstreamtoggle{
 background-color: #ffffff;
 border: 1px solid #ccc;
 border-radius: 5px !important;
 
}
.stream_setgame{
padding-top:0px;
margin-top:11px;
padding-left: 0px;
}
.manage_video_wrap{
	background-color:#000;
	min-height:75px;
    padding-top: 17px;
}
.videoiconsbtn{
    padding: 8px 12px;
}
.videoiconsbtn:hover{
	opacity:1;

}
/*.deletevideobtn {
	background-image: -webkit-linear-gradient(top, #E95D5D, #E40304) !important;
    border-color: rgba(0, 0, 0, 0.15) !important;
    padding: 5px 10px;
    border-radius: 4px !important;
    color: #fff;
	margin-bottom: 10px !important;
    width: 85px !important;
    padding-left: 20px;
}*/
.deletevideobtn{
	line-height: 20px !important;
	color: #fff;
    box-shadow: none;
    text-shadow: none;
    font-weight: 400;
    outline: 0!important;
    display: inline-block;
	border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304) !important;
    background-image: -moz-linear-gradient(top , #E95D5D, #E40304);
    background-image: -ms-linear-gradient(top , #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15) !important;
    padding: 5px 10px;
    border-radius: 4px !important;
    margin-bottom: 10px !important;
    width: 85px !important;
    padding-left: 20px;
}
.downloadvideobtn,.downloadvideobtn:hover{
	/*background-image: url("videos_page/download-videos.png") !important;
	background-repeat:no-repeat !important;
	padding-left: 30px;
    background-position: 4px 9px !important;
	
    margin-top: 20px;
	line-height: 28px !important;*/
	margin-bottom: 10px !important;
}




.fancybox{
	border:none;
}

.down_urllink{
	border:none;
    opacity: inherit !important;
}
.video_tbl_wrap{
	float:none;
	margin:auto;
}
.video_tbl_wrap .videolisttble.table>thead>tr>th{
	background-color:#0D0B0B;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
}
.video_tbl_wrap .videolisttble.table>thead>tr>th:not(:nth-child(1)){
	text-align:center;
}
.video_tbl_wrap .videolisttble.table>tbody>tr>td:not(:nth-child(1)){
	text-align:center;
}
.video_tbl_wrap .videolisttble.table>tbody>tr>td{
	vertical-align:middle;
}

.actioncont img{
    padding: 7px;
	cursor:pointer;
	border-right: 1px solid grey;
    height: 35px;
}
.actioncont a:not(:last-child){
    
}
.actioncont .tooltipped{
    /*border-right: 0px solid grey !important;*/
}
.videoactionlink{
	padding-left:5px;
	font-size:14px;
	cursor:pointer;
	color:blue;
}
.actioncont a span{
    padding-right: 10px;
    padding-left: 5px;
}
.actioncont a:(:last-child):hover{
	/*border-right:none;*/
}
.encoder_wrap,.iframe_data,.stream_data{
	display:none;
}
.manageiconswrap a{
	border-bottom:none;
    display: inline-block;
}
.manageiconswrap a:hover{
	opacity:1;
}
.encoder_wrap .table{
    width: 50%;
    float: right;
	margin-bottom:0px;
}

.encoder_wrap .table tr td{
	border:none;

}
.encoder_wrap .table tr td input{
    width: 100%;
}
.language-iframe{
	font-size:15px;
}

.video_tbl_wrap .videolisttble.table>tbody>tr>td{
	color:#000;
	font-size:15px;
}

.videolisttble{
	margin-top:30px;
	background-color: #fff;
}
.toggle_main_wrap{
	margin-top:30px;
	float: none;
    margin: auto;
}

.custom_alert{
	padding: 8px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.custom_alert .close{
    font-size: 12.5px;
    line-height: 18px;
    opacity: 1;
}

.custom_alert .close:hover{
    opacity: 1;
}

.video_subtitle{
	font-size:15px;
	color:#000;
	font-weight:bold;
	padding-top:5px;
}

#progress_div .progress {
    background-color: rgba(0,0,0,.06);
    height: 18px;
    width: 100%;
	border-radius:4px !important;
}
.clippy{
	display:none;
}
.snippet pre,.tvstationcode pre{
	border:0px solid grey;
	    padding: 0px;
		margin-bottom: 5px;
}
.embedded_wrap .snippet .btn,.tvstationcode .btn{
    right: -5px;
    top: -5px;
}

.snippet code,.tvstationcode code {
    padding: 20px 0px 0px 0px;
}


.snippet .btn,{
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

.snippet:hover .btn,.tvstationcode:hover .btn {
    opacity: 1;
}


.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
}

.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0,0,0,0.8);
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0,0,0,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}
.tooltipped-s:after, .tooltipped-n:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.videos_btns{
	/*color: #fff;
    border-color: #e14430;
    border-bottom-color: #c22e1c;
    background-color: #e3503e!important;
	box-shadow: none;
	text-shadow: none;
    line-height: 15px;
    font-weight: 400;
    outline: 0!important;
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;

    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	    margin-right: 10px;*/
}

.dwnldvideolistwrap .overlay {
    /*background: #fff none repeat scroll 0 0;
    height: 114px;*/
    opacity: 0.7;
    position: absolute;
    width: 131px;
}
.dwnldvideolistwrap {
    background: #fff;    
    padding: 8px 0px;
}

.mainvideowrap{
	    border: 1px solid;
    width: 98%;
    /* width: calc(100% - 10px); */
    margin: auto;
    min-height: 137px;
    /* margin-top: 5px; */
    padding-top: 0px;
    padding-bottom: 22px;
}
.mainvideowrap:not(:last-child){
	margin-right:10px;
}

.video_listbg{
	background: url(videos_page/videos.png);
	background-size: 25px 25px;
	height: 31px;
	    width: 30px;
	background-repeat: no-repeat;
	background-position: 0px 4px;
}

.deletestreamlink:focus{
	opacity:1;
}

.closetogglesrchbtn{
	height: 25px;
	width: 25px;
	float: right;
	background-image: url("videos_page/closetoggle.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0px 0px !important;	
	cursor:pointer;
	background-size:25px 25px;
}
/* .assigntobtn,.assigntobtn:hover,.assignteambtn,.assignteambtn:hover{
    background: #17a722;
    color: #FFF;
    border: 1px solid #17a722;
    padding: 5px 5px;
    border-radius: 4px !important;
    font-size: 12px;
    cursor: pointer;
	    width: 74px;
    display: inline-block;
} */
/* .btn {
    
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px  !important;
    -moz-border-radius: 4px  !important;
    border-radius: 4px !important;
    
} */
.assigntobtn:hover,.assignteambtn:hover {
    color: #ffffff;
   /*  text-shadow: 0px -1px 0px #186200; */
}
.assigntobtn:hover, .assigntobtn:active, .assigntobtn.focus, .assigntobtn.disabled, .assigntobtn[disabled], .assigntobtn.open .assigntobtn.dropdown-toggle,.assignteambtn:hover, .assignteambtn:active, .assignteambtn.active, .assignteambtn.disabled, .assignteambtn[disabled], .assignteambtn.open .assignteambtn.dropdown-toggle {
    background-color: #70A62F;
	text-decoration:none;
}
.assigntobtn,.assignteambtn {
	border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px  !important;
    -moz-border-radius: 4px  !important;
    border-radius: 4px !important;

    /*text-shadow: 0px -1px 0px rgba(0,0,0,.5);*/
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
	padding:3px 10px;
    
	
}

.assigntobtn,.assignteambtn {
        background-repeat: repeat-x;
}
.assigntobtn{
    font-size: 12px;
}

.assignvideomodel table{
	width:75%;
	margin:auto;
}
.assignvideomodel table tr{
	    border: 1px solid #e8dede;
		    vertical-align: middle;
}
.assignvideomodel table tr td p{
	margin-bottom:0px;
}
/* .deassignteambtn{
	background: #e25151;
    color: #FFF;
    border: 1px solid #e84141;
    padding: 4px 5px;
    border-radius: 4px !important;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
	width: 85px;
    display: inline-block;
} */
.deassignteambtn:hover {
    color: #fff6f6;
    /*text-shadow: 0px -1px 0px #760000;*/
}
.deassignteambtn:hover, .deassignteambtn:active, .deassignteambtn.active, .deassignteambtn.disabled, .deassignteambtn[disabled], .deassignteambtn.open .deassignteambtn.dropdown-toggle {
    background-color: #E40304;
	text-decoration:none;
}
.manageiconswrap a:hover{		
	text-decoration:none;
}
.deassignteambtn, .deassignteambtn:hover{
        background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
        background-image: -moz-linear-gradient(center top , #E95D5D, #E40304);
        background-image: -ms-linear-gradient(top , #E95D5D, #E40304);
        border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
		padding: 7px 15px;
		BORDER-radius: 4px !important;
		color: #fff;	
        font-size: 14px;
}

.modal-body .assignteambtn,.modal-body .assignteambtn:hover {
	  padding-left: 10x;
      padding: 7px 15px;
      text-decoration: none !important;
      font-size:14px;

 }
/*.modal-body .deassignteambtn,.modal-body .deassignteambtn:hover {
    background-image: url("videos_page/tick.png") !important;*/
   /* background-repeat: no-repeat !important;
       background-position: 4px 5px !important;
    background-size: 14px 14px;
}*/

.modal-body .deassignteambtn:before{
	/*content:'x';*/
	/*padding-right: 5px;*/
	font-size: 14px;
} 
.addcustomerbtn {
    height: 34px;
    border-radius: 4px !important;
    color: #fff;
}
.border-radius {
    border-radius: 4px !important;
}
.e_n_f_search {
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.e_n_f_top_search_pad {
    padding-bottom: 10px;
}
.input-sm {
    margin-bottom: 5px;
    border-radius: 4px !important;
    height: 35px !important;
    /*width: 235px;*/
}
.now_e_n_f_create {
    padding-top: 0px;
    margin: 8px 0px !important;
}
.vi_texrt_rows {
    max-width: 235px;
    border-radius: 4px !important;
}
.e_n_f_file_dix {
    max-width: 225px;
    padding-left: 25px;
    padding-top: 5px;
}

/*Button start button*/
.btn-danger:hover {
    color: #fff6f6;
    /*text-shadow: 0px -1px 0px #760000;*/
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled], .btn-group.open .btn-danger.dropdown-toggle {
    background-color: #E40304;
}
.btn-danger{
    /*background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);*/
}

/*.videos_btns:hover {
    color: #fff6f6;
    text-shadow: 0px -1px 0px #760000;
}*/
/*.videos_btns:hover, .videos_btns:active, .videos_btns.active, .videos_btns.disabled, .videos_btns[disabled], .videos_btns.open .videos_btns.dropdown-toggle {
    background-color: #E40304;
    text-decoration:none;
}*/
.manageiconswrap a:hover{       
    text-decoration:none;
}
.videos_btns {
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304) !important;
    background-image: -moz-linear-gradient(top , #E95D5D, #E40304);
    background-image: -ms-linear-gradient(top , #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);
    padding: 7px 10px;
    border-radius: 4px !important;
    color: #fff;
    border: 0px;
    font-size: 14px;
}
/*.videos_btns {
    background-color: #E40304;
    text-decoration:none;
}*/
.modal-header {
    background-color: #F8F8F8;
    border-radius: 10px !important;
}
.modal-title {
    text-align: center;
    font-weight: 400;
    font-size: 17px !important;
}
.e_n_f_good_buys {
    margin: 5px 0px;
    text-align: center;
    font-size: 18px;
}
.e_n_f_deass_is {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}    
.e_n_f_save_popup_btn {
    border-bottom: 0px;
    width: 83px;
    border: 1px solid grey;
    border-radius: 5px !important;
    background-color: red;
    color: #fff;
    height: 33px;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
     background-image: -moz-linear-gradient(top, #E95D5D, #E40304);
     background-image: -ms-linear-gradient(top , #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);
    font-size:14px;
}  
.e_n_f_save_popup_btn:hover {
    color: #fff6f6;
   
}  
.e_n_f_get_tv_station {
    padding-top: 10px;
    padding-bottom: 1px;
}
.e_n_f_search_btn {
    margin-top: 5px;
    margin-bottom: 5px;
}
.searchtogglebtn_red:hover, .e_n_f_save_popup_btn:hover {
    color: #fff;
}
.customerlist-tbl>tbody>tr>td, .customerlist-tbl>tbody>tr>th, .customerlist-tbl>tfoot>tr>td, .customerlist-tbl>tfoot>tr>th, .customerlist-tbl>thead>tr>td, .customerlist-tbl>thead>tr>th {
    padding:5px !important;
}
.customerlist-tbl td, .customerlist-tbl th {
    font-size: 13px !important;
}
.e_n_f_video_play {
    padding: 0px 0px;
}
.e_f_play_img_final {
    height: 124px;
    width: 163px;
    border: 1px solid #ABABAB;
}
.snippet {
    border-radius: 5px !important;
}
.assignteambtn:hover, .assignteambtn:focus, .assignteambtn:visited, .assignteambtn:link, .deassignteambtn:hover, .deassignteambtn:focus, .deassignteambtn:visited, .deassignteambtn:link{
    text-decoration: none !important;
}
/*a.tooltip {outline:none; }*/

a.tooltip:hover {text-decoration:none;} 

.e_n_f_bg_color_set, .e_n_f_bg_color_set:hover {
    background-color: #fff !important;
}
.e_n_f_video_date {
    max-width: 150px;
    margin-left: 15px;
    margin-right: 15px;
}
.e_n_f_video_time {
    max-width: 150px;
    margin-left: 15px;
    margin-right: 30px;
}
.e_n_f_bor_left_final {
    border-left: 1px solid grey;
}
.btncopy {
  
    background-image: -webkit-linear-gradient(top,#a9a588,#8e865b);
    background-image: -ms-linear-gradient(top,#a9a588,#8e865b);
    color: white;
}
.eventsavebtn{
        margin-top: 38px;
} 
.eventdesc .form-control{
    border-radius: 4px !important;
}

.page-footer-inner a{
    color: #337ab7;
}
.page-footer-inner a:hover{
    color: #337ab7;
    text-decoration: underline;
}
.finalize_manual{
	margin-left: 25px !important;
	padding-left: 88px !important;
	padding-right: 0 !important;
	text-align: center;
}
.finalize_class{
	text-align:center;
	margin-left: 15px !important;
	padding-right: 0px !important;
	padding-left: 44px !important;
}

/***********Karuna**********/
.video_game{
    padding-top:8px;text-align:right;
}
.toggleinnrewrap{
   overflow: hidden !important; 
}
.video_border{
   border: 1px solid #b1b0b0;
    border-radius: 5px !important;
    background-color: #f5f5f5 !important;
    padding: 0px !important; 
    margin-bottom: 13px;
    
}
.videospecification{
    background-color: #E5E5E5;
    font-size:14px;
    color: #555;
    font-weight: 700;
	border-radius: 4px !important;
}
.videospecification p{
   margin: 5px 5px 7px 15px;
       
}
.event_padding{
    padding-left: 0px;
    padding-right: 0px;
}
.create_streamtxt{
     font-size: 13px;
}
.eve_videotxt{
    font-size: 13px;
}
.eve_videotxt{
        margin: 10px 0;
}
.eve_videotxt1{
  margin: 5px 5px 7px 0px !important;
}
.event_padding_lf{
  padding-left: 5px;
    padding-right: 5px;  
}
#manage-video_btn{padding: 6px 12px;width: 85px;padding-left: 5px;}
@media (min-width:769px){
    
    
    .eventtime{
        /*width: 11% !important;*/
    }
    .eventdesc{
       /* width: 35% !important;*/
    }
    
   
}
@media (max-width:991px){
    .video_padd_12{
      padding-right: 0px !important;
      padding-left: 0px !important;
      overflow:hidden;
    }
    .e_n_f_search{
        text-align: center;
        margin: auto;
    }
    .video_game{
        text-align: left;
    }
    .video_game-txt{
        padding-right: 0px;
        padding-left: 0px;
    }
    .pad_set {
        padding-left: 0px !important;
    }
    .stream_setgame{
        text-align: center;
    }
    .event_game_txt{
       padding-right: 0px;
       padding-left: 0px;
    }
    .eventsavebtn{
        margin: auto;
        text-align: center;
    }
    .searchtogglebtn_red{
        width:70px !important;
    }
    .upload_viedopadd{
     padding-left: 0px;
     padding-right: 0px;
   }
   .padd_magevideo{
     padding-left: 0px !important;
     padding-right: 0px !important;
   }
   #upload_video_cat{
    max-width:100% !important;
   }
   .e_n_f_file_dix{
    padding-left: 0px;
   }
}
@media (min-width:991px){
   .e_n_f_search_btn {
        padding-right:0px;
   }
   .pad_set{
    padding-top: 10px;
  }

}
@media(min-width: 1200px){
    .videodot{
    margin-top: -18px;
  }
  .video_game{
    text-align: left !important;
  }
   
}
@media(min-width:991px) and (max-width: 1200px){
    .game_category{
       padding-right: 0px;
       padding-left: 0px;
    }
    .video_game
    {
        padding-left: 15px;
    }
    .eventtime{
        padding-right: 0px;
        padding-left: 0px;
    }
    .searchtogglebtn_red{
        width:67px !important;
    }
    .toggleinnrewrap{
        overflow: hidden;
    }
     .upload_viedopadd{
     padding-left: 0px;
     padding-right: 0px;
   }
   .padd_magevideo{
     padding-left: 5px !important;
     padding-right: 5px !important;
   }
   .pad_set{
    padding-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
   }
   .e_n_f_file_dix {
    max-width: 160px;
    padding-left: 0px; 
    padding-top: 5px;
   }
}
@media(min-width:270px) and (max-width:420px ){
    .searchbarstyle{
        padding-left: 0px;
    }
    .video_search{
        padding-left: 0px;
        padding-right: 0px;
    }
    .addcustomerbtn{
        font-size: 11px;
    }
    .sm-width{
        padding-left: 0px !important;
    }
}
@media(max-width:270px){
    .sm-width{
        padding-left: 0px !important;
    }
}
@media (min-width: 1260px){
    .container {
        width: 1250px;
    }
}

.table-hover>tbody>tr.practiceeventgame:hover, .table-hover>tbody>tr.practiceeventgame:hover>td,.table-striped>tbody>tr.practiceeventgame
{
	    background: #ccc !important;
}
.session-name{
    color: #337ab7;
}