.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.left-right-padding .info-caption, #socialmediaform .left-padding .portlet.light , #socialmediaform .right-padding .portlet.light{
    border: 1px solid #ccc;
    border-radius: 5px !important;
}
#socialmediaform .form-control{
    border: 1px solid #c2cad8;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
#socialmediaform .input-group-addon{
    /*border: 1px solid #c2cad8;*/
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.customredbtn, .customredbtn:hover{
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: 15px;
    background-color: #e12330;
    font-size: 14px;
}
.customgreenbtn, .customgreenbtn:hover{
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    font-size: 14px;
    color:#ffffff;
    border-color: #619126;
}
.customgreenbtn {
    background-repeat: repeat-x;
}
.customgreenbtn:not(.btn-outline).focus, .customgreenbtn:not(.btn-outline):focus {
    color: #FFF;
    background-color: #A1C873;
    border-color: #70A62F;
}
.customgreenbtn:hover {
    color: #ffffff;
    border: 1px solid #549E39;
}
.customgreenbtn:hover, .customgreenbtn:active, .customgreenbtn.active, .customgreenbtn.disabled, .customgreenbtn:focus, .customgreenbtn:active, .customgreenbtn.active, .customgreenbtn.disabled, .customgreenbtn[disabled], .customgreenbtn.open .customgreenbtn.dropdown-toggle {
    background-color: #70A62F ; 
}
.customgreenbtn[disabled], .btn-group.open .customgreenbtn.dropdown-toggle {
    background-color: #70A62F !important;
}
.portlet-body .bottom-padding{
    padding-bottom: 0;
}
.bottom-padding .custom-form-action{
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
}
#socialmediaform .mangeteam-form-bottom{
	padding-bottom: 0;
	padding-top: 0;
}
.mangeteam-form-bottom .form-actions.custom-form-action{
	padding-bottom: 0;
	padding-top: 0;
	border-top: 0;
    margin: auto;
    width:28%;
    margin-top: 5px;
}
.page-content #socialmediaform .portlet.info-caption{
	padding: 12px 20px 0px 20px;
	margin-bottom: 10px;
}
#socialmediaform .portlet>.portlet-title{
    border-bottom: 0;
    margin-bottom: 0;
}
#socialmediaform .portlet.light{
    padding: 20px 20px 19px;
}
.media-auto{
    float: none;
    margin: auto;
    overflow: hidden;
}
.media-auto .social-label{
    margin-top: 5px;
    margin-bottom: 0;
}
#socialmediaform .left-padding .portlet{
    min-height: 410px;
    margin-bottom: 0px;
}
@media(max-width:1024px){
.media-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;

   }
}


