.bg_color_white_light, .team_bio_portlet {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px !important;
}

.playerinfo_paddingleft{
   padding-left: 0px;
}

.playerinfo_paddingright{
  padding-right: 0px;
}

.bg_color_white_portlet.bg_color_white_light{
  overflow: auto;
}
.form-control{
 border-radius: 4px !important;
}
.error{color: red;}

.btn-danger:hover {
 color: #fff6f6;
 text-shadow: 0px 0px 0px #760000;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled], .btn-group.open .btn-danger.dropdown-toggle {
   background-color: #E40304;
}

.btn-danger{
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    background-image: -moz-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    padding:5px 20px;
    border-radius: 4px !important;
    margin-left: 15px;
     border-color: #ea5460;
}

.btn-success {
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    padding:5px 20px;
    border-radius: 4px !important;
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
   background-color: #70A62F;
}
.btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
    background-color: #70A62F !important;
}
.btn-success:hover {
    color: #ffffff;
    text-shadow: 0px 0px 0px #186200;
    border: 1px solid #549E39;
}
.btn-success:not(.btn-outline).focus, .btn-success:not(.btn-outline):focus {
    color: #FFF;
    background-color: #A1C873;
    border-color: #70A62F;
}
.loadingimgcont{
	display:none;
}
#first_name-error{
	display:none;
}
#last_name-error{
	display:none;
}
#uniform_no-error{
	display:none;
}
#sel_team-error{
	display:none;
}
#duplicatelast_name-error{
display:none;
}
.btn.btn_purple:not(.btn-outline).active, .btn.btn_purple:not(.btn-outline):active, .btn.btn_purple:not(.btn-outline):hover, .open>.btn.btn_purple:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #703688;
    border-color: #6a3381;
    font-size: 13px;
}
.btn_purple {
    background-image: -webkit-linear-gradient(top, #d59dec, #8E44AD);
    background-image: -moz-linear-gradient(top, #d59dec, #8E44AD);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px !important;
    color: #fff;
    padding: 5px 20px;
    font-size: 13px;
}

@media screen and (max-width: 991px) and (min-width: 240px) {

	.playerinfo_paddingleft{
        padding-left: 0px;
        padding-right: 0px;
    }

	.playerinfo_paddingright{
        padding-left: 0px;
        padding-right: 0px;
    }

	.playerinfo_paddingcenter{
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media screen and (min-width : 768px) and (max-width : 1200px) { 
  .play_age{
   padding-right: 0px;

  }
  
  .play_school{
   padding: 0px;
  }
}
