#settingsform .form-control{
    border: 1px solid #c2cad8;
    border-radius: 4px !important;
}
.error{
    color:red;
}
.page-content-wrapper .page-content{
    padding-top: 20px;
}
.settings-div .settings-sub-title{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 8px;
    border-left: 3px solid #88909a;
}
.settings-div .form-body{
    padding-top: 0;
}
.settings-div div.form-group label{
    font-size: 13px;
}
.settings-div .setting-type{
    padding-bottom: 0;
    padding-top: 15px;
}
.settings-div .settings-radio{
    padding-bottom: 0;
}
.settings-div .parentradio{
    margin-bottom: 0;
}
#settingsform .settings-div{
  padding-left: 0px;
}

.settings-div > div:nth-child(1), .settings-div > div:nth-child(2) {
    padding-right: 0;
}
.settings-div > div:nth-child(2) > div:nth-child(1), .settings-div > div:nth-child(2) > div:nth-child(2), .settings-div > div:nth-child(2) > div:nth-child(3) {
    margin-bottom: 6px;
    padding-bottom: 10px;
    /*border: 1px solid #ccc;
    border-radius: 5px !important;*/
}
.settings-div > div:nth-child(1) > div:nth-child(1){
    margin-bottom: 0px;
    /*border: 1px solid #ccc;
    border-radius: 5px !important;*/
}
.settings-div .custom-form-action{
    border-top: 0;
}
.settings-div .portlet.light{
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important; 
}
.seasontbltogglewrap.portlet {
    margin-bottom: 10px;
}
#preview{
    height:160px;width:100%;
    border: 1px solid #c2cad8;
    border-radius: 4px !important;
}
.customgreenbtn, .customgreenbtn:hover{
    text-shadow: 0px 0px 0px rgba(0,0,0,.5);
   
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    font-size: 14px;
    color:#ffffff;
    border-color: #619126;
}
.customgreenbtn {
    background-repeat: repeat-x;
}
.customgreenbtn:not(.btn-outline).focus, .customgreenbtn:not(.btn-outline):focus {
    color: #FFF;
    background-color: #A1C873;
    border-color: #70A62F;
}
.customgreenbtn:hover {
    color: #ffffff;
    text-shadow: 0px 0px 0px #186200;
    border: 1px solid #549E39;
}
.customgreenbtn:hover, .customgreenbtn:active, .customgreenbtn.active, .customgreenbtn.disabled, .customgreenbtn:focus, .customgreenbtn:active, .customgreenbtn.active, .customgreenbtn.disabled, .customgreenbtn[disabled], .customgreenbtn.open .customgreenbtn.dropdown-toggle {
    background-color: #70A62F ; 
}
.customgreenbtn[disabled], .btn-group.open .customgreenbtn.dropdown-toggle {
    background-color: #70A62F !important;
}
.settings-div fieldset {
    background: none;
    border: 1px solid #1F497D;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 5px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px !Important;
}
.settings-div legend {
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px solid #ccc;
    width: auto;
    margin-bottom: 0px;
    background: #1F497D;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #ccc;
    margin-left: 20px;
}
.setting-according{
    min-height: 31px !important;
    height: 10px;

}
.setting-md{
    padding: 8px 0px 8px !important;
    font-size: 14px !important;
    line-height: 15px !important;
}
/*.custom-form-action{
  padding-bottom: 0px !important;
  padding-top:0px !important;
}*/
.setting-tool{
        padding: 7px 0 8px !important;
        float: left;
}
.seasontbltoggle{
    background-color: #f5f5f5 !important;
    padding: 0px 15px 0px 15px !important;
}
.social_image{
    width: 33px;
    height:30px;
}
.setting_imgflex{
    display: flex;
}
.setting_img{
    padding-right: 10px;
}
.setting-md{
    width: 95%;float:left !important;
}
.setting-heads{
 font-weight: 600;
}
@media(min-width: 992px) and (max-width: 1200px){
.setting-md{
  width:93% !important;
  }
}

@media(min-width: 270px) and (max-width: 767px){
.setting-md{
  width:89% !important;
  }
}