#mail_send{
    width:100%;
}
.forminput{
    margin-bottom: 20px;
}
.forminput:nth-child(1){
    margin-top: 20px;
}
#upload_file-error{
    display: block;
}
.uploader_searchheder .uploaderlink{
    border-bottom: 0;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.uploader_searchheder{
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
div.uploader_searchbarstyle{
    background-color: #ffffff; 
    border: 1px solid #ccc;
    border-radius: 5px !important;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.border-radius{
    border-radius: 4px !important;
}
.uploadtoollbl{
    padding-top: 8px;
}
.error{
    color:red;
}
.bootstrap-filestyle > input[type="text"] {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
label.btn-primary{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.container #frmmailsend label.btn-default{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.widget-header {
    position: relative;
    height: 40px;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #CCC;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
     border-radius: 4px !important;

    -webkit-background-clip: padding-box;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.widget-header h3 {
    position: relative;
    left: 10px;
    float: left;
    display: inline-block;
    margin-right: 3em;
    font-size: 13px;
    font-weight: 600;
    color: #555;
    line-height: 10px;
    margin-bottom: 0px;
    margin-top: 12px;
}
.page-content-wrapper .page-content .alert.alert-success{
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.page-content-wrapper .page-content .alert.alert-danger {
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}

@media(min-width:992px) {
    #frmmailsend .bootstrap-filestyle .form-control  {
        width:387px !important;
    }

}